body
{
  font-family: Verdana, Futura, Helvetica, Verdana;
  font-size: 13px;
  margin: 0 0 0 0;
}

b {
  font-size: 18px;
  color: #336666;
}

.main {
  margin: 20 0 0 0;
}

.header
{
  background-image: url(../img/head_bg.jpg);
  background-repeat: repeat-y;
  padding: 10 0 10 12;
}

.sidebar
{
  float: left;
  padding: 0 0 0 10;
  width: 200;
}

.content
{
  float: left;
  display: block;
  padding: 10 0 0 50;
}

.inner_content
{
  padding: 10 0 0 10;
}

.activity
{
  margin: 0 0 0 20;
}
.amount 
{
  margin: -16 0 20 220;
  padding: 0 0 0 0;
}

.instruction 
{
  margin: 0 0 0 20;
}